:root {
  background-color: #fcfaee;
}
:where(.css-dev-only-do-not-override-77tu7h).ant-skeleton
  .ant-skeleton-content
  .ant-skeleton-title {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-left: 30px;
  background: repeating-linear-gradient(
        #0000 0 calc(1.2rem - 1px),
        #66afe1 0 1.2rem
      )
      right bottom / 100% 100%,
    linear-gradient(red 0 0) 30px 0/2px 100% #fff;
  background-repeat: no-repeat;
  line-height: 1.2rem;
  -webkit-mask: radial-gradient(circle 0.8rem at 2px 50%, #0000 98%, #000) 0 0/100%
    2.4rem;
}
*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
  display: none;
  /* width: 10px;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent; */
}

/* *::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0 10px;
} */
